In [76]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from os import listdir

Loading in all the data.

In [77]:
pd.set_option('display.max_columns', None)

In [78]:
weather = pd.read_csv('../weather/clean_weather.csv')
fire = pd.read_csv('../fires/NO_LIGHTNING_clean_fire_data.csv')
tourism = pd.read_csv('../tourism/clean_tourism.csv')

In [79]:
tourism

,Region Number,Code,Name,Year,Month,Tourism Money,Population,Tourism PC
0,17,RD17,Capital,2001,1,4907000.0,340002.0,14.432268
1,17,RD17,Capital,2001,2,6541000.0,340002.0,19.238122
2,17,RD17,Capital,2001,3,9673000.0,340002.0,28.449833
3,17,RD17,Capital,2001,4,10321000.0,340002.0,30.355704
4,17,RD17,Capital,2001,5,14285000.0,340002.0,42.014459
...,...,...,...,...,...,...,...,...
5791,51,RD51,Bulkley-nechako+stikine,2021,8,938000.0,40637.0,23.082413
5792,51,RD51,Bulkley-nechako+stikine,2021,9,1527000.0,40637.0,37.576593
5793,51,RD51,Bulkley-nechako+stikine,2021,10,811000.0,40637.0,19.957182
5794,51,RD51,Bulkley-nechako+stikine,2021,11,919000.0,40637.0,22.614858
5795,51,RD51,Bulkley-nechako+stikine,2021,12,1147000.0,40637.0,28.225509

In [80]:
weather

,Weather City,Year,Month,Mean Max Temp,Mean Min Temp,Mean Temp,Total Rain,Total Snow,Total Precip
0,Bella Coola,1983.0,2,7.400000,0.400000,3.900000,74.0,1.8,75.0
1,Bella Coola,1983.0,3,12.400000,-0.800000,5.800000,37.5,0.0,37.5
2,Bella Coola,1983.0,4,16.300000,2.600000,9.500000,9.5,0.0,9.5
3,Bella Coola,1983.0,5,19.300000,7.000000,13.200000,36.0,0.0,36.0
4,Bella Coola,1983.0,6,17.900000,10.900000,14.400000,89.4,0.0,89.4
...,...,...,...,...,...,...,...,...,...
14287,Williams Lake,2021.0,8,21.985714,9.157143,15.600000,28.5,0.0,32.9
14288,Williams Lake,2021.0,9,16.906667,5.833333,11.396667,36.3,0.0,36.3
14289,Williams Lake,2021.0,10,8.710345,-0.058621,4.355172,24.1,0.6,24.6
14290,Williams Lake,2021.0,11,3.866667,-3.359259,0.259259,14.4,14.0,26.6
14291,Williams Lake,2021.0,12,-9.896429,-17.096429,-13.521429,5.3,77.1,73.9

In [81]:
fire

,FIRE_CAUSE,LATITUDE,LONGITUDE,SIZE_HA,Year,Month,Weather City,Region Name,Region Number,Region Area
0,Person,55.7837,-120.9953,2.500,2003,9,Dawson Creek,Peace River,55.0,11738755.0
1,Person,56.1209,-120.5031,1.800,2015,7,Dawson Creek,Peace River,55.0,11738755.0
2,Person,51.8789,-120.4961,0.009,2002,7,Williams Lake,Cariboo,41.0,8060975.0
3,Person,49.9964,-120.9117,0.100,2018,9,Penticton,Thompson-Nicola,33.0,4444942.0
4,Person,50.0178,-120.6202,0.100,2001,7,Penticton,Thompson-Nicola,33.0,4444942.0
...,...,...,...,...,...,...,...,...,...,...
14331,Person,49.5202,-121.2050,0.009,2021,7,Penticton,Fraser Valley,9.0,1333528.0
14332,Person,50.9486,-119.6703,0.030,2021,7,Penticton,Thompson-Nicola,33.0,4444942.0
14333,Person,50.0750,-120.7764,0.009,2021,7,Penticton,Thompson-Nicola,33.0,4444942.0
14334,Person,49.3398,-120.0636,0.300,2021,7,Penticton,Okanagan-Similkameen,7.0,1041168.0
14335,Person,49.3728,-116.0612,29.000,2021,7,Sparwood,East Kootenay,1.0,2754184.0

Merging all the data and remove colder months.

In [82]:
temp = pd.merge(fire, weather, on=['Weather City','Year','Month'], how='left')

In [83]:
temp2 = pd.merge(temp, tourism, on=['Region Number','Year','Month'], how='left').dropna()

In [84]:
temp2 = temp2[temp2['Month'].isin([4,5,6,7,8,9])].reset_index(drop=True)

In [85]:
temp2

,FIRE_CAUSE,LATITUDE,LONGITUDE,SIZE_HA,Year,Month,Weather City,Region Name,Region Number,Region Area,Mean Max Temp,Mean Min Temp,Mean Temp,Total Rain,Total Snow,Total Precip,Code,Name,Tourism Money,Population,Tourism PC
0,Person,51.8789,-120.4961,0.009,2002,7,Williams Lake,Cariboo,41.0,8060975.0,22.700000,9.000000,15.900000,28.2,0.0,28.2,RD41,Cariboo,2315000.0,66701.0,34.707126
1,Person,49.9964,-120.9117,0.100,2018,9,Penticton,Thompson-Nicola,33.0,4444942.0,20.676667,7.406667,14.060000,26.8,0.0,26.8,RD33,Thompson-nicola,8085000.0,144220.0,56.060186
2,Person,50.0178,-120.6202,0.100,2001,7,Penticton,Thompson-Nicola,33.0,4444942.0,28.500000,13.600000,21.100000,47.4,0.0,47.4,RD33,Thompson-nicola,6963000.0,124335.0,56.001930
3,Person,49.6514,-119.6925,2.000,2002,6,Penticton,Okanagan-Similkameen,7.0,1041168.0,26.400000,11.500000,19.000000,15.2,0.0,15.2,RD07,Okanagan-similkameen,3709000.0,80189.0,46.253227
4,Person,49.5746,-121.8208,0.009,2010,5,Whistler,Fraser Valley,9.0,1333528.0,14.970968,3.012903,9.016129,0.0,0.0,49.6,RD09,Fraser valley,1757000.0,281345.0,6.245002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11233,Person,49.5202,-121.2050,0.009,2021,7,Penticton,Fraser Valley,9.0,1333528.0,33.245161,15.861290,24.580645,9.1,0.0,9.1,RD09,Fraser valley,5438000.0,339701.0,16.008195
11234,Person,50.9486,-119.6703,0.030,2021,7,Penticton,Thompson-Nicola,33.0,4444942.0,33.245161,15.861290,24.580645,9.1,0.0,9.1,RD33,Thompson-nicola,8925000.0,147920.0,60.336668
11235,Person,50.0750,-120.7764,0.009,2021,7,Penticton,Thompson-Nicola,33.0,4444942.0,33.245161,15.861290,24.580645,9.1,0.0,9.1,RD33,Thompson-nicola,8925000.0,147920.0,60.336668
11236,Person,49.3398,-120.0636,0.300,2021,7,Penticton,Okanagan-Similkameen,7.0,1041168.0,33.245161,15.861290,24.580645,9.1,0.0,9.1,RD07,Okanagan-similkameen,13756000.0,90940.0,151.264570
11237,Person,49.3728,-116.0612,29.000,2021,7,Sparwood,East Kootenay,1.0,2754184.0,29.816129,10.006452,19.941935,0.0,0.0,0.0,RD01,East kootenay,7093000.0,66515.0,106.637601

The cells below get all the desired columns, then groups by Region, Year and Month, getting the means and sums of all the columns.

In [86]:
temp3 = temp2[['Year', 'Month', 'Region Name', 'Region Area', 'Mean Max Temp', 'Mean Min Temp',
       'Mean Temp', 'Total Rain', 'Total Snow', 'Total Precip','Tourism PC', 'SIZE_HA']]

In [87]:
temp4 = temp3.groupby(['Region Name','Year','Month']).mean().reset_index()
temp_sums = temp3.groupby(['Region Name','Year','Month']).sum().reset_index()

In [88]:
temp4

,Region Name,Year,Month,Region Area,Mean Max Temp,Mean Min Temp,Mean Temp,Total Rain,Total Snow,Total Precip,Tourism PC,SIZE_HA
0,Alberni-Clayquot,2001,4,658915.0,11.170000,3.500000,7.366667,286.400000,0.0,286.400000,55.555556,0.009000
1,Alberni-Clayquot,2001,7,658915.0,17.567742,9.451613,13.538710,23.400000,0.0,23.400000,139.015439,0.300000
2,Alberni-Clayquot,2002,7,658915.0,19.061290,10.454839,14.777419,53.400000,0.0,53.400000,158.202938,0.602250
3,Alberni-Clayquot,2002,9,658915.0,17.423333,8.930000,13.210000,137.300000,0.0,137.300000,125.627980,15.000000
4,Alberni-Clayquot,2003,5,658915.0,13.767742,6.264516,10.045161,155.600000,0.0,155.600000,82.419515,0.150000
...,...,...,...,...,...,...,...,...,...,...,...,...
2195,Thompson-Nicola,2021,5,4444942.0,20.345197,5.188342,12.786815,12.961538,0.0,18.946154,23.012439,0.902923
2196,Thompson-Nicola,2021,6,4444942.0,26.407533,11.130784,18.787521,14.000000,0.0,24.730769,36.310168,7104.518077
2197,Thompson-Nicola,2021,7,4444942.0,31.951462,15.161699,23.584516,9.240000,0.0,9.240000,60.336668,1.946000
2198,Thompson-Nicola,2021,8,4444942.0,27.856440,12.985400,20.448889,10.844444,0.0,16.633333,66.576528,55.820889
2199,Thompson-Nicola,2021,9,4444942.0,21.583810,8.321905,14.973810,20.871429,0.0,20.871429,61.607626,1.356571

In [89]:
temp_sums

,Region Name,Year,Month,Region Area,Mean Max Temp,Mean Min Temp,Mean Temp,Total Rain,Total Snow,Total Precip,Tourism PC,SIZE_HA
0,Alberni-Clayquot,2001,4,658915.0,11.170000,3.500000,7.366667,286.4,0.0,286.4,55.555556,0.009
1,Alberni-Clayquot,2001,7,658915.0,17.567742,9.451613,13.538710,23.4,0.0,23.4,139.015439,0.300
2,Alberni-Clayquot,2002,7,2635660.0,76.245161,41.819355,59.109677,213.6,0.0,213.6,632.811750,2.409
3,Alberni-Clayquot,2002,9,658915.0,17.423333,8.930000,13.210000,137.3,0.0,137.3,125.627980,15.000
4,Alberni-Clayquot,2003,5,1317830.0,27.535484,12.529032,20.090323,311.2,0.0,311.2,164.839029,0.300
...,...,...,...,...,...,...,...,...,...,...,...,...
2195,Thompson-Nicola,2021,5,57784246.0,264.487566,67.448446,166.228592,168.5,0.0,246.3,299.161709,11.738
2196,Thompson-Nicola,2021,6,115568492.0,686.595862,289.400383,488.475556,364.0,0.0,643.0,944.064359,184717.470
2197,Thompson-Nicola,2021,7,88898840.0,639.029247,303.233978,471.690323,184.8,0.0,184.8,1206.733369,38.920
2198,Thompson-Nicola,2021,8,40004478.0,250.707957,116.868602,184.040000,97.6,0.0,149.7,599.188751,502.388
2199,Thompson-Nicola,2021,9,31114594.0,151.086667,58.253333,104.816667,146.1,0.0,146.1,431.253380,9.496

The cells below reaplce the SIZE_HA from the averages with the sum, to get the total area burned in a region per year and month. A column with the percentage of area burned is also created. Then the columns are renamed, and all values in 2022 are dropped.

In [90]:
temp4['SIZE_HA'] = temp_sums['SIZE_HA']

In [91]:
temp4['Fire Area Perc'] = (temp4['SIZE_HA'] / temp4['Region Area'])*100

In [92]:
temp5 = temp4.drop('Region Area', axis=1).dropna()

In [93]:
temp5

,Region Name,Year,Month,Mean Max Temp,Mean Min Temp,Mean Temp,Total Rain,Total Snow,Total Precip,Tourism PC,SIZE_HA,Fire Area Perc
0,Alberni-Clayquot,2001,4,11.170000,3.500000,7.366667,286.400000,0.0,286.400000,55.555556,0.009,0.000001
1,Alberni-Clayquot,2001,7,17.567742,9.451613,13.538710,23.400000,0.0,23.400000,139.015439,0.300,0.000046
2,Alberni-Clayquot,2002,7,19.061290,10.454839,14.777419,53.400000,0.0,53.400000,158.202938,2.409,0.000366
3,Alberni-Clayquot,2002,9,17.423333,8.930000,13.210000,137.300000,0.0,137.300000,125.627980,15.000,0.002276
4,Alberni-Clayquot,2003,5,13.767742,6.264516,10.045161,155.600000,0.0,155.600000,82.419515,0.300,0.000046
...,...,...,...,...,...,...,...,...,...,...,...,...
2195,Thompson-Nicola,2021,5,20.345197,5.188342,12.786815,12.961538,0.0,18.946154,23.012439,11.738,0.000264
2196,Thompson-Nicola,2021,6,26.407533,11.130784,18.787521,14.000000,0.0,24.730769,36.310168,184717.470,4.155678
2197,Thompson-Nicola,2021,7,31.951462,15.161699,23.584516,9.240000,0.0,9.240000,60.336668,38.920,0.000876
2198,Thompson-Nicola,2021,8,27.856440,12.985400,20.448889,10.844444,0.0,16.633333,66.576528,502.388,0.011302
2199,Thompson-Nicola,2021,9,21.583810,8.321905,14.973810,20.871429,0.0,20.871429,61.607626,9.496,0.000214

In [94]:
temp5.columns = ['Region Name', 'Year', 'Month', 'Mean Max Temp', 'Mean Min Temp',
       'Mean Temp', 'Total Rain', 'Total Snow', 'Total Precip',
       'Tourism PC', 'Fire Area', 'Fire Area Perc']

In [95]:
temp6 = temp5[temp5['Year'] != 2022].reset_index(drop=True)

In [96]:
temp6

,Region Name,Year,Month,Mean Max Temp,Mean Min Temp,Mean Temp,Total Rain,Total Snow,Total Precip,Tourism PC,Fire Area,Fire Area Perc
0,Alberni-Clayquot,2001,4,11.170000,3.500000,7.366667,286.400000,0.0,286.400000,55.555556,0.009,0.000001
1,Alberni-Clayquot,2001,7,17.567742,9.451613,13.538710,23.400000,0.0,23.400000,139.015439,0.300,0.000046
2,Alberni-Clayquot,2002,7,19.061290,10.454839,14.777419,53.400000,0.0,53.400000,158.202938,2.409,0.000366
3,Alberni-Clayquot,2002,9,17.423333,8.930000,13.210000,137.300000,0.0,137.300000,125.627980,15.000,0.002276
4,Alberni-Clayquot,2003,5,13.767742,6.264516,10.045161,155.600000,0.0,155.600000,82.419515,0.300,0.000046
...,...,...,...,...,...,...,...,...,...,...,...,...
2195,Thompson-Nicola,2021,5,20.345197,5.188342,12.786815,12.961538,0.0,18.946154,23.012439,11.738,0.000264
2196,Thompson-Nicola,2021,6,26.407533,11.130784,18.787521,14.000000,0.0,24.730769,36.310168,184717.470,4.155678
2197,Thompson-Nicola,2021,7,31.951462,15.161699,23.584516,9.240000,0.0,9.240000,60.336668,38.920,0.000876
2198,Thompson-Nicola,2021,8,27.856440,12.985400,20.448889,10.844444,0.0,16.633333,66.576528,502.388,0.011302
2199,Thompson-Nicola,2021,9,21.583810,8.321905,14.973810,20.871429,0.0,20.871429,61.607626,9.496,0.000214

A version of the final data is saved for the visualizations.

In [97]:
temp6.to_csv('NO_LIGHTNING_all_data_no_dums.csv', index=False)

Dummy variables are then created for all controls: Regions, Years, Months. The base cases, those that are droppped, are Alberni-Clayquot, 2001, and April respectively.

In [98]:
region_dums = pd.get_dummies(temp6['Region Name']).drop('Alberni-Clayquot',axis=1)

In [99]:
year_dums = pd.get_dummies(temp6['Year']).drop(2001, axis=1)

In [100]:
month_dums = pd.get_dummies(temp6['Month']).drop(4,axis=1)

In [101]:
final_data = pd.concat([region_dums, year_dums, month_dums, temp6.drop(['Region Name','Year','Month'],axis=1)],axis=1)

In [102]:
final_data = final_data.dropna().reset_index(drop=True)

In [103]:
final_data

,Bulkley-Nechako + Stikine,Capital,Cariboo,Central Kootenay,Central Okanagan,Columbia-Shuswap,Comox + Strathacona,Cowichan Valley,East Kootenay,Fraser Valley,Fraser-Fort George,Greater Vancouver,Kitimat-Stikine,Kooteny Boundary,Mount Waddington,Nanaimo,North Okanagan,Okanagan-Similkameen,Squamish-Lillooet,Sunshine Coast,Thompson-Nicola,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,5,6,7,8,9,Mean Max Temp,Mean Min Temp,Mean Temp,Total Rain,Total Snow,Total Precip,Tourism PC,Fire Area,Fire Area Perc
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11.170000,3.500000,7.366667,286.400000,0.0,286.400000,55.555556,0.009,0.000001
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,17.567742,9.451613,13.538710,23.400000,0.0,23.400000,139.015439,0.300,0.000046
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,19.061290,10.454839,14.777419,53.400000,0.0,53.400000,158.202938,2.409,0.000366
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,17.423333,8.930000,13.210000,137.300000,0.0,137.300000,125.627980,15.000,0.002276
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,13.767742,6.264516,10.045161,155.600000,0.0,155.600000,82.419515,0.300,0.000046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,20.345197,5.188342,12.786815,12.961538,0.0,18.946154,23.012439,11.738,0.000264
2196,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,26.407533,11.130784,18.787521,14.000000,0.0,24.730769,36.310168,184717.470,4.155678
2197,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,31.951462,15.161699,23.584516,9.240000,0.0,9.240000,60.336668,38.920,0.000876
2198,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,27.856440,12.985400,20.448889,10.844444,0.0,16.633333,66.576528,502.388,0.011302
2199,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,21.583810,8.321905,14.973810,20.871429,0.0,20.871429,61.607626,9.496,0.000214

In [104]:
final_data.to_csv('NO_LIGHTNING_final_data.csv', index=False)